.header {
    margin: 0.9rem;
    padding: 0.2rem;
    display: flex;
    justify-content: end;
}
.cart-wrapper {
    width: fit-content;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    color: #502C1D;
    padding: 5px 5px;
    border: solid #502C1D 2px;
    border-radius: 50px;
    text-transform: uppercase;
    display: flex;
    gap: 5px;
}
.icon-wrapper{
    display: flex;
    align-items: center;
}

.btn-close{
    margin: 0px !important;
}