.img_beans{
    max-width: 10rem;
    height: auto;
}
.img_coffee{
    max-height: 500px;
    width: auto;
}
.toast-container {
    margin-left: 25px;
}
.name-product {
    font-size: 4rem;
    line-height: 1;
    margin-bottom: 1px;
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}
.custom-btn {
    color: #fff;
    background-color: #190E51;
    padding: 10px 14px;
    border: none;
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}
.custom-btn:hover {
    transition: 0ms;
    padding: 10px 10px;
    transform: translateY(-0px);
    background-color: #190E51;
    color: #ffffff;
    border: none;
}
.product-main {
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;
    justify-content: center;
}
.gen-container {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    justify-content: center;
    align-items: center;
}

