@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;0,800;1,200&display=swap');
body {
  background-image: url("./resources/img/background.jpg");
  background-position: start center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  margin: 0;
  font-family: 'Poppins', sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.text-xs {
  font-size: 0.6rem;
}
.text-sm {
  font-size: 0.8rem;
}
.icon-xs{
  width: 10px;
  height: auto;
}
.icon-sm{
  width: 20px;
  height: auto;
}
.icon-md{
  width: 40px;
  height: auto;
}
.icon-xl{
  width: 100px;
  height: auto;
}